/*app_index*/

.whole{
	/*padding-top: 65px;*/
	/*padding-left: 198px;*/
	/*margin-top: 65px;*/
	/*margin-left: 198px;*/
	/*width: 998px;*/
}

.body {
	background-image: url(../imags/bg1.jpg);
    background-size: cover;
    font-family: SegoeUI,"Microsoft YaHei",微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

.head{
	margin-left: 130px;
	/*height: 100PX;*/
	margin-top: 47px;
}

.login dd{
	float: left;
	/*margin: */
}

.head_motto{
	/*float: left;*/
}

.head_motto img{
	width: 552px;
	height: 73px;
}

.whole_1{
	/*padding-top: 105px;*/
	float: left;
	padding-left: 180px;
	width: 450px;
}

.logo{
	padding-left: 55px;
}

.introduce{     
	line-height: 26px;
	padding-top: 10px;
	font-size: 13px;
}

.tupiao{
	/*padding-top: 36px;*/
	margin-top: -120px;
	margin-left: 155px;
	width: 350px;
	float: left;
}

.tupiao img{
	margin-top: 95px;
	margin-right: 35px;
}